{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
<div class="jumbotron">
  <h2 class="masthead-subheading mb-0" style="font-family: 'Permanent Marker',cursive">Number of tickets</h2>
  <br>
	<form action="{% url 'event-book' event.id %}" method="POST">
		{% csrf_token %}
		{{form|crispy}}
		<input type="submit" value="Book" class="btn">
	</form>
<br> <br> <br>
  </div>
  </div>

</header>

{% endblock content %}
