{% extends "base.html" %}
{% block title %}Detail{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead text-center">
  <div class="masthead-content">
    <div class="container">
		<div class="row">
			<div class="col-12">
			<center>	
				<div class="card my-5" id="bgc">
			 <div class="card-body">
			  	<center>
			  		<h5 class="card-title">{{event.title}}</h5>
			  	    <p class="card-text">{{event.datetime}}</p>
			  	    <p class="card-text">{{event.description}}</p>
			  	    <p class="card-text">{{event.left_seats}}/{{event.seats}} tickets available</p>
			  	    <p class="card-text">{{event.location}} </p>
					

			  	    {% if request.user == event.organizer %}
			  	    <a href="{% url 'event-update' event.id %}" class="btn btn-primary">Update Details</a>
			  	    
			  	    {% else %}
			  	    {% if event.is_full %}
			  	    <button disabled class="btn btn-primary">Full</button>
			  	    {% else %}
			  	    <a href="{% url 'event-book' event.id %}" class="btn btn-primary">Book Seats</a>
			  	    {% endif %}
					{% endif %}
			  </center>
			  </div>
			  </div>
			</center>
			</div>

		</div>
		<br><br>
		<center>
		<div>
		 
 {% if  request.user == event.organizer %}

<table class="table table-bordered table-dark" >
  <thead>
    <tr>
      <th scope="col"><center>Username</center></th>
      <th scope="col"><center>Number of tickets</center></th>
    </tr>
  </thead>
  <tbody>
  {% for reserve in reserves  %}
  <tr>
  	<td><center>{{reserve.user.username}}</center></td>
  	<td><center>{{reserve.amount}}</center></td>
  </tr>
  {% endfor %}
</tbody>
</table>

   {% endif %}
   

   </div>
</center>
</div>

  </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

{% endblock content %}

