{% extends "base.html" %}  
{% block title %}Events{% endblock title %}
{% block content %}
<br><br><br>
<form action="{% url 'event-list' %}">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search list" name="q">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
</div>
</form>
  <br>
  <div class="row">
	{% for event in events %}
	<div class="col-md-4">
		<div class="card my-5" style="width: 18rem;">
			  <div class="card-body">
			  	<h5 class="card-title">{{event.title}}</h5>
			  	<p class="card-text">{{event.time}}</p>
			  	<p class="card-text">{{event.tickets}} tickets available</p>
			  	<p class="card-text">{{event.location}} </p>
			  	<p class="card-text">{{event.description}} tickets available</p>
			  	<a href="{{event.get_absolute_url}}" class="btn btn-primary">Read details</a>
	</div>
</div>
</div>
	{% endfor %}
</div>




	
{% endblock content %}