{% extends "base.html" %}  
{% block title %}Events I've attended{% endblock title %}
{% block content %}
<br><br><br>
  <br>
  <div class="row">
	{% for reserve in reserves %}
	<div class="col-md-4">
		<div class="card my-5" style="width: 18rem;">
			  <div class="card-body">
			  	<h5 class="card-title">{{reserve.user.username}}</h5>
			  	<p class="card-text">{{reserve.event.title}}</p>
			  	<p class="card-text">{{reserve.amount}} tickets</p>
			  	<p>Attended {{ reserve.event.whenpublished }}</p>
	</div>
</div>
</div>
	{% endfor %}
</div>




	
{% endblock content %}